<!DOCTYPE html>
<html>
<head>

<title>FlowBoard</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="home-body">

<div class="overlay">

<header>

<h1>FlowBoard</h1>

<nav>

<a href="/">Home</a>
<a href="/login">Login</a>

</nav>

</header>

<section class="hero">

<h2>Intelligent Project Dashboard</h2>

<p>
Manage Teams, Projects, Meetings and Collaboration
with AI Powered Features
</p>

<a href="/login" class="btn">
Start Project
</a>

</section>

</div>

</body>
</html>