<!DOCTYPE html>
<html>
<head>

<title>Register Project</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='dashboard.css') }}">

</head>

<body>

<div class="form-box">

<h2>Register Project</h2>

<form action="/submit_project" method="POST">

<input type="text"
name="project"
placeholder="Project Name">

<textarea name="description"
placeholder="Project Description">
</textarea>

<button type="submit">
Submit Project
</button>

</form>

</div>

</body>
</html>